#navbar{
    border: 1px solid;
    display: flex;
    flex-direction: row-reverse;
  }
  #navbar>h4{
    margin: 20px;
  }
  #menu{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  #menu>div{
    margin: 20px;
  }